image: python:3.6.10-slim

stages:
    - build
    - test
    - deploy

cache:
    paths:
      - .cache/pip

install_dependencies:
    stage: build
    script:
        - apt update
        - apt install -y wget bzip2 make gcc
        - wget -O nuttcp.tar.bz2 http://nuttcp.net/nuttcp/nuttcp-8.1.4.tar.bz2
        - tar -xvf nuttcp.tar.bz2
        - cd nuttcp-8.1.4; make
    artifacts:
        paths:
            - nuttcp-8.1.4/nuttcp-8.1.4

test:
    stage: test
    script: 
        - cp nuttcp-8.1.4/nuttcp-8.1.4 /usr/local/bin/nuttcp
        - pip install -r agent/requirements.txt
        - python agent/test.py

build_image:
    stage: build
    tags: 
        - build_docker
    script:
        - echo "$REGI_PASS" | docker login -u "$REGI_USER" --password-stdin
        - docker build -t icair/dtnaas:agent .
        - docker run -t icair/dtnaas:agent agent/test.py
        - docker push icair/dtnaas:agent

deploy_image:
    stage: deploy
    tags:
        - deploy_docker

    before_script:
        - docker stop daas_agent|| true
    script:
        - docker run --name=daas_agent --rm -d icair/dtnaas:agent

