image: python:3.6.10-slim

stages:
    - build
    - test
    - deploy

cache:
    paths:
      - .cache/pip

install_dependencies:
    stage: build
    script:
        - apt update
        - apt install -y wget bzip2 make gcc
        - wget -O nuttcp.tar.bz2 http://nuttcp.net/nuttcp/nuttcp-8.1.4.tar.bz2
        - tar -xvf nuttcp.tar.bz2
        - cd nuttcp-8.1.4; make
    artifacts:
        paths:
            - nuttcp-8.1.4/nuttcp-8.1.4

test:
    stage: test
    script: 
        - cp nuttcp-8.1.4/nuttcp-8.1.4 /usr/local/bin/nuttcp
        - pip install -r agent/requirements.txt
        - python agent/test.py

build_image:
    stage: build
    only:
        - master
    tags: 
        - build_docker
    script:
        - echo "$REGI_PASS" | docker login --username "$REGI_USER" --password-stdin
        - docker build -t icair/dtnaas:agent .
        - docker run -t icair/dtnaas:agent agent/test.py
        - docker push icair/dtnaas:agent

.deploy_image:
    stage: deploy
    only:
        - master
    variables:
        VOLS_TO_MOUNT: -v /data/disk8:/data/disk8 -v /data/disk9:/data/disk9 -v /data/disk10:/data/disk10 -v /data/disk11:/data/disk11 -v /data/disk12:/data/disk12 -v /data/disk13:/data/disk13 -v /data/disk14:/data/disk14 -v /data/disk15:/data/disk15

    before_script:
        - docker stop daas_agent|| true
        - docker pull icair/dtnaas:agent
    script:
        - docker run --name=daas_agent --privileged $VOLS_TO_MOUNT --network="host" --rm -d icair/dtnaas:agent    

include: 'CI/.gitlab-ci-servers.yml'